body {
  font-family: 'Lucida Sans';
  background-color: #f4f4f4;  
}
#container {
  width: 100%;
  max-width: none;
  padding: 0 ;
  background-color: rgb(255, 255, 255);
}

#header {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

#header h1 img {
  width: 100px;
  height: auto;
}

#menu {
  background-color: #ffbbed;
  padding: 15px 0;
  border-bottom: 3px solid #ffffff;
  text-align: center;
}

#menu ul li {
  display: inline-block;
  margin: 0 100px;
}

#menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4em;
  transition: color 0.3s ease;
}
#menu ul li a:hover {
  color: #e91e63;
}
#content {
  text-align: center;
  background-color: rgb(255, 255, 255);
  font-size: 2em;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 100px;
  }
  .image-container {
    position: relative;
    overflow: hidden; /* Илүү гарсан элементийн хэсгийг тайрах*/
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    aspect-ratio: 1 / 1;
    max-width: 450px;
    margin-bottom: 20px;
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  .caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 187, 237, 0.8);
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 10px 5px;
    box-sizing: border-box;
    transition: background 0.3s ease;
  }
  .image-container:hover .caption {
    background: rgba(233, 30, 99, 0.9);
  }
  footer {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 1.5rem 2rem;
  }