body {
  font-family: 'Lucida Sans';
  background-color: #ffffff; 
}
  
#location {
  margin-bottom: 120px; 
  margin-top: 60px;
}
  #location .location-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
  }
  .location-text {
    flex: 1;
    font-size: 1.3em;
    color: #333;
    text-align: left;
    max-width: 400px;
  }

  #location img {
    width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    
  }

footer {
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 2rem;
  margin-bottom: 0;
}